<div class="app-cookie-banner app-cookie-banner--hidden" id="app-cookie-banner" aria-label="cookie banner">
    <div class="govuk-width-container">
      <div class="app-cookie-banner__container" id="cookie-actions-container">
        <p class="govuk-body">
          We use cookies to <a href="cookie_preferences.html" class="govuk-link app-cookie-banner__link">collect information</a> about how you use the service.
        </p>
        <div class="app-cookie-banner__actions">
          <input type="button" id="accept-cookies" class="govuk-button govuk-!-margin-bottom-2" value="Accept all cookies">
          <p class="inline-message govuk-body">
            or <a href="cookie_preferences.html" class="govuk-link app-cookie-banner__link">set your cookie preferences</a>
          </p>
        </div>
      </div>
      <div class="app-cookie-banner__confirmation" id="cookie-confirmation">
        <p class="inline-message govuk-body">Cookie preferences have been saved</p>
        <p class="inline-message--right govuk-body"><a href="" id="hide-button" value="Hide" class="govuk-link app-cookie-banner__link">Hide</a></p>
      </div>
    </div>
  </div>